// COLORS
$color-primary: #F59A83;
$color-primary-dark: #F48982;
$color-secondary: #FBDB89;

$color-white: #fff;
$color-subtle-white: #F9F5F3;
$color-subtle-white-1: #F2EFEE;

$shadow: rgba(101, 90, 86, 0.1);
$shadow-opc: rgba(101, 90, 86, 0.08);
$shadow-dark: rgba(101, 90, 86, 0.2);

$color-gray: #968B87;
$color-gray-dark: #655A56;
$color-subtle-gray: #DAD0CC;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;