.likes {
    position: relative;
    align-self: stretch;
    padding: 0 !important; 

    &__panel:hover,
    &__field:hover + &__panel {
        visibility: visible;
        opacity: 1; 
    
    }

    &__field {
        cursor: pointer;
        padding: 0 4rem;
        display: flex;
        align-items: center;
        height: 100%;
        transition: all .3s;
        
        &:hover {
            background-color: $color-subtle-white-1; 
        } 
    }

    &__icon {
        fill: $color-primary;
        height: 3.75rem;
        width: 3.75rem; 
    }

    &__panel {
        position: absolute;
        right: 0;
        top: 10rem;
        z-index: 10;
        padding: 2rem 0;
        width: 34rem;
        background-color: $color-white;
        box-shadow: 0 0.8rem 5rem 2rem $shadow;
        visibility: hidden;
        opacity: 0;
        transition: all .5s .2s; 
    }
}    