.header {
    grid-area: head;
    background-color: $color-subtle-white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
    &__logo {
        margin-left: 4rem;
        height: 4.5rem;
        display: block; 
    }
}